.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  padding: 24px;
  text-align: center;

  &__icon {
    font-size: 64px;
    margin-bottom: 16px;
    opacity: 0.4;
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    color: var(--ion-color-dark);
    margin: 0 0 8px;
  }

  &__message {
    font-size: 14px;
    color: var(--ion-color-medium);
    margin: 0;
    line-height: 1.5;
  }
}
