.book-detail {
  &__spinner {
    display: flex;
    justify-content: center;
    padding: 48px 0;
  }

  &__cover {
    position: relative;
    width: 100%;
    height: 280px;
    overflow: hidden;
    background: var(--ion-color-light);
  }

  &__skeleton {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  &__img {
    width: 100%;
    height: 100%;
    display: block;

    &--hidden {
      opacity: 0;
      position: absolute;
    }
  }

  &__placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--ion-color-medium);
    font-size: 14px;
  }

  &__body {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
  }

  &__authors {
    font-size: 14px;
    color: var(--ion-color-medium);
    margin: 0;
  }

  &__year {
    font-size: 13px;
    color: var(--ion-color-medium);
    margin: 0;
  }

  &__description {
    font-size: 14px;
    line-height: 1.6;
    margin-top: 8px;
  }
}
