.custom-lists {
  &__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    text-align: center;
    padding: 16px;

    p {
      margin: 0;
      font-size: 14px;
    }
  }
}

.create-list-button {
  padding-bottom: 20px;
}
