<ion-tabs>
  <ion-tab-bar slot="bottom" mode="ios" class="tabs__bar">
    <ion-tab-button tab="genres" class="tabs__button">
      <ion-icon name="book-outline" />
      <ion-label>Generos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search" class="tabs__button">
      <ion-icon name="search-outline" />
      <ion-label>Busqueda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="custom-lists" class="tabs__button">
      <ion-icon name="list-outline" />
      <ion-label>Mis listas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
