.list-detail {
  &__empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    text-align: center;
    padding: 16px;

    p {
      margin: 4px 0;
      font-size: 14px;
    }
  }
}
