<app-header title="Libros" [showBackButton]="true"></app-header>

<ion-content>
  @if (loading) {
  <div class="book-list__spinner">
    <ion-spinner name="crescent" />
  </div>
  } @if (!loading && emptyState) {
  <app-empty-state [type]="emptyState" />
  } @if (!loading && !emptyState) {
  <ion-grid>
    <ion-row>
      @for (book of books; track book.id) {
      <ion-col size="6" (click)="goToDetail(book)">
        <app-book-card [book]="book" />
      </ion-col>
      }
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" />
  </ion-infinite-scroll>
  }
</ion-content>
